h1 {
    text-align: left;
    margin: 40px;
    color: #333232;
}

.grid {
    display: grid;
    gap: 20px;
    justify-content: center;
    grid-template-columns: 450px;
    margin: 40px;
    padding: 30px;
}

.searchquery {
    margin: 40px;
    padding: 30px;
    border: 0px;
    border-radius: 8px;
    box-shadow: 0px 0px 14px 0px #d9d9d9;
    background-color: #ffffff;
}

.eventdetails-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 40px 40px ;
    border: 0px;
    border-radius: 8px;
    box-shadow: 0px 0px 14px 0px #d9d9d9;
    background-color: #ffffff;
}

.eventImages {
    object-fit: cover;
    width: 300px;
    height: 200px;
    display: block;
    margin-bottom: 10px;
    border-radius: 5px;
}

video {
    padding-top: 10px;
}

.descr a {
    text-decoration: none;
    color: blue;
}