h1 {
    text-align: left;
    margin: 40px;
    color: #333232;
}

#introList {
    list-style: none
}

section {
    margin: 40px;
    padding: 30px;
    border: 0px;
    border-radius: 8px;
    box-shadow: 0px 0px 14px 0px #d9d9d9;
    background-color: #ffffff;
}

h2 {
    margin-top: 0px;
    margin-bottom: 20px;
}
