h1 {
    text-align: left;
    margin: 40px;
    color: #333232;
}

.eventImages {
    object-fit: cover;
    width: 100%;
    height: 200px;
    display: block;
    border-radius: 5px;
    object-position: 0% 20%;
    transition: transform 0.2s;
}

section {
    margin: 40px;
    padding: 30px;
    border: 0px;
    border-radius: 8px;
    box-shadow: 0px 0px 14px 0px #d9d9d9;
    background-color: #ffffff;
}

h2 {
    margin-top: 0px;
    margin-bottom: 20px;
}

.event-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.eventImages:hover {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.01);
    cursor: pointer;
}