h1 {
    text-align: left;
    margin: 40px;
    color: #333232;
}

#introList {
    list-style: none
}

section {
    margin: 40px;
    padding: 30px;
    border: 0px;
    border-radius: 8px;
    box-shadow: 0px 0px 14px 0px #d9d9d9;
    background-color: #ffffff;
}

h2 {
    margin-top: 0px;
    margin-bottom: 20px;
}

.eventSlide {
    display: none;
}

.eventImages {
    object-fit: cover;
    width: 665px;
    height: 374.062px;
    display: block;
    border-radius: 5px;
}

.eventImages {
    vertical-align: middle;
}

.eventsContainer {
    max-width: 50%;
    position: relative;
    margin: auto;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 18px;
    transition: background-color 0.3s ease;
    border-radius: 8px;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 8px;
}

.prev:hover, .next:hover {
    background-color: #f5f5f5;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.dots {
    position: relative;
    text-align: center;
    bottom: -10px;
}