@page
@model soft20181_starter.Pages.ContactModel
@{
    ViewData["Title"] = "Contact page";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Contact.css" asp-append-version="true" />
}

@section Scripts {
    <script src="~/js/Contact.js?v=1.2"></script>
}

<h1>Contact</h1>

<section>
    <h2>Contact Us</h2>

    <form method="post" id="contactForm">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <span asp-validation-for="ContactInfo.FirstName" class="text-danger"></span>
        <label asp-for="ContactInfo.FirstName">First Name:</label>
        <input asp-for="ContactInfo.FirstName" type="text" id="firstName" placeholder="First Name*"><br><br>

        <span asp-validation-for="ContactInfo.LastName" class="text-danger"></span>
        <label asp-for="ContactInfo.LastName" for="lastName">Last Name:</label>
        <input asp-for="ContactInfo.LastName" type="text" id="lastName" placeholder="Last Name*"><br><br>

        <span asp-validation-for="ContactInfo.Email" class="text-danger"></span>
        <label asp-for="ContactInfo.Email">Email:</label>
        <input asp-for="ContactInfo.Email" type="text" id="email" placeholder="Email*"><br><br>

        <label asp-for="ContactInfo.Phone">Phone:</label>
        <input asp-for="ContactInfo.Phone" type="text" id="phone" placeholder="Phone"><br><br>

        <span asp-validation-for="ContactInfo.Message" class="text-danger"></span>
        <label asp-for="ContactInfo.Message">Message:</label>
        <textarea asp-for="ContactInfo.Message" id="message" placeholder="Message*"></textarea>

        <button type="submit" class="btn btn-success">Submit</button>
    </form>

    @if (User.IsInRole("Admin"))
    {
        <form method="post" asp-page-handler="ClearContacts">
            <button type="submit" class="btn btn-danger">Clear All Contacts</button>
        </form>
    }
</section>

<section>
    <h2>FAQ</h2>
    <div>
        <h3>Q1. How to customise the font size and header colour for the website?</h3>
        <p>A1: On the bottom of the home page, there will be a customisation section providing options to be able to change the font size and the header background colour for each and every page.</p>
        <h3>Q2. Where am I able to find more information about the artists?</h3>
        <p>A2: In the Event Details page, each and every artist has a 'More Info' hyperlink that will direct you to their wikipedia, where you will be able to discover more information about them.</p>
        <h3>Q3. What is the point of having an Event page as well as an Event Details page?</h3>
        <p>A3: On the Event page, there will be basic information for each artist performing this year - however, if you click the image for an artist, it will direct you to more details for them on the Event Details page.</p>
    </div>
</section>

<section>
    <h2>Website Details</h2>
    <div>
        <h4>Website Owner</h4>
        <p>The website is owned and operated by <strong>Jonah Lawson</strong>, a software engineer and developer.</p>

        <h4>Location</h4>
        <p>Our office is located at: <strong>Nottingham, United Kingdom.</strong></p>

        <h4>Contact Information</h4>
        <p>You can reach us via email at <a href="mailto:jonahlawson05@gmail.com">jonahlawson05@gmail.com</a>.</p>
    </div>
</section>